{
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-class-static-block",
    "@babel/plugin-proposal-private-methods"
  ],
  "presets": ["@babel/preset-env"]
}
